<div class="app" id="app">
  <!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-lm">
        Inscription
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <form name="form">
        <div class="md-form-group">
          <%= f.label :nom %><br/>
          <%= f.text_field :surname, class:"md-input" %>
        </div>
        <div class="md-form-group">
          <%= f.label :prénom %><br/>
          <%= f.text_field :lastname, class:"md-input" %>
        </div>
        <div class="md-form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"md-input" %>
        </div>
        <div class="md-form-group">
          <%= f.label :numéro_d_identification %>
          <%= f.text_field :id_number,class:"md-input" %>
        </div>
        <div class="md-form-group">
          <%= f.label :mot_de_passe %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>
              caractères minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password",class:"md-input" %>

        </div>
        <div class="md-form-group">
          <%= f.label :confirmation_du_mot_de_passe %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"md-input" %>
        </div>
        <%= f.submit "Envoyer",class:"btn primary btn-block p-x-md" %>
      </form>
    <%end%>
  </div>

  <div class="p-v-lg text-center">
    <div>Vous avez déjà un compte ?
      <a ui-sref="access.signin" class="text-primary _600"><%= render "devise/shared/links" %></a>
    </div>
  </div>
</div>
</div>
